Repository JohnnySenior/Tarteeb.Importer.Api, pull requests merged in 2023-10, with the labels that each got.

#10 DATA: Model and Migrate Applicants
  Tarteeb.Importer.Api.Infrastructure.Build/Tarteeb.Importer.Api.Infrastructure.Build.csproj
  Tarteeb.Importer.Api.Tests.Unit/Tarteeb.Importer.Api.Tests.Unit.csproj
  Tarteeb.Importer/Brokers/Storages/StorageBroker.Applicants.cs
  Tarteeb.Importer/Brokers/Storages/StorageBroker.cs
  Tarteeb.Importer/Migrations/20231007190144_AddApplicants.Designer.cs
  Tarteeb.Importer/Migrations/20231007190144_AddApplicants.cs
  Tarteeb.Importer/Migrations/StorageBrokerModelSnapshot.cs
  Tarteeb.Importer/Models/Applicants/Applicant.cs
  Tarteeb.Importer/Startup.cs
  Tarteeb.Importer/Tarteeb.Importer.csproj
  Tarteeb.Importer/appsettings.Development.json
Labels: DATA

#31 BROKERS: Select Group By Name
  Tarteeb.Importer/Brokers/Storages/StorageBroker.Groups.cs
Labels: BROKERS

#33 MEDIUM FIX: Refactor Code
  Tarteeb.Importer/Brokers/Spreadsheets/SpreadSheetBroker.cs
  Tarteeb.Importer/Brokers/Storages/StorageBroker.Groups.cs
  Tarteeb.Importer/Controllers/HomeController.cs
  Tarteeb.Importer/Migrations/20231007190144_AddApplicants.cs
  Tarteeb.Importer/Migrations/20231008025557_CreateGroupsTable.cs
  Tarteeb.Importer/Services/Processings/SpreadsheetProcessingService.cs
Labels: MEDIUM FIX

#32 BROKERS: Insert Applicant
  Tarteeb.Importer/Brokers/Storages/StorageBroker.Applicants.cs
Labels: BROKERS

#34 BROKERS: Select Applicant By Id
  Tarteeb.Importer/Brokers/Storages/StorageBroker.Applicants.cs
Labels: BROKERS

#35 BROKERS: Select All Applicants
  Tarteeb.Importer/Brokers/Storages/StorageBroker.Applicants.cs
Labels: BROKERS

#40 FOUNDATIONS: Add Applicant
  Tarteeb.Importer/Services/Foundations/ApplicantService.cs
Labels: FOUNDATIONS

#45 PROCESSINGS: Get Group By Name
  Tarteeb.Importer/Services/Processings/GroupProcessingService.cs
Labels: PROCESSINGS

#46 PROCESSINGS: Add Applicant
  Tarteeb.Importer/Services/Processings/ProcessingApplicantService.cs
Labels: PROCESSINGS

#47 CODE RUB: Refactor Code
  Tarteeb.Importer/Services/Foundations/SpreadsheetService.cs
Labels: CODE RUB

#48 ORCHESTRATIONS: Get All Validated Applicants
  Tarteeb.Importer/Services/Orchestrations/OrchestrationService.cs
  Tarteeb.Importer/Services/Processings/SpreadsheetProcessingService.cs
Labels: ORCHESTRATIONS
